svg {
  vertical-align: middle;
}

.header rect{
  fill: #000000;
}

.header text{
  fill: white;
  font: 10px sans-serif;
  text-anchor: middle;
  font-weight: bold;
}

.cell rect{
  fill: LightGray;
  border: 5px dotted black;
  margin: 5px;
  padding: 5px;
}

.row {
  fill: #FFFFFF;
  border: 5px solid black;
}

.row:hover{
  opacity: 0.5;
}

.cell text{
  fill: black;
  font: 10px sans-serif;
  text-anchor: middle;
}
